---
import { changeLanguage, t } from "i18next";
import DefaultLayout from "../../layouts/Default.astro";
import BlogList from "../../components/BlogList.astro";

changeLanguage("fr");
---

<DefaultLayout title={t("title.blog")}>
    <body>
        <div class="px-6 lg:px-0">
            <blockquote>
                <p>{t("blog.language-disclaimer")}</p>
            </blockquote>
        </div>
        <div class="px-6 mt-8 lg:px-0">
            <BlogList />
        </div>
    </body>
</DefaultLayout>