::selection {
    @apply bg-amber-400
}

::-moz-selection {
    @apply bg-amber-400
}

body {
    font-family: 'Inter', sans-serif;
    overflow-wrap: break-word;
	margin: auto;
    background-color: #010101;
    @apply pt-12 xl:pt-24 max-w-2xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
	@apply text-amber-100 font-medium tracking-tight py-2
}

h1 {
    @apply text-4xl
}

h2 {
    @apply text-3xl
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl
}

h5 {
    @apply text-lg
}

h6 {
    @apply text-base font-bold
}

p {
    @apply text-neutral-50 text-base font-normal py-2
}

a {
    @apply text-amber-300 text-base font-bold duration-150 hover:opacity-75
}

.a-fake {
    @apply text-amber-300 text-base font-bold duration-150 hover:opacity-75 p-0
}

li {
    @apply text-amber-100 font-medium tracking-tight
}

ul {
    @apply py-2 list-disc list-inside
}

blockquote {
    @apply pl-4 my-2 italic border-l-4 border-amber-400
}

code {
    font-family: 'Spline Sans Mono', monospace;
    @apply text-base font-normal
}

pre {
    @apply my-4 p-4 rounded-sm
}

.global-hover {
    @apply duration-150 hover:opacity-75
}

.hide-img {
    @apply hidden lg:block
}

.default-grid {
    @apply grid grid-cols-1 gap-6 lg:grid-cols-3 px-6 lg:px-0
}