---
import { changeLanguage, t } from "i18next";
import { localizePath } from "astro-i18next";
import LandingLayout from "../layouts/Landing.astro";
import CardContact from "../components/CardContact.astro";
import CardTime from "../components/CardTime.astro";
import NowPlaying from "../components/NowPlaying.astro";

changeLanguage("en");
---

<LandingLayout title="William Hallin">
	<div class="default-grid">
		<a href={localizePath("/about")} rel="prefetch" class="card about-card col-span-1 lg:col-span-2">
			<h1>{t("card.about-heading")}</h1>
			<p>{t("card.about-text")}</p>
			<p class="a-fake">{t("cta.learn-more")}</p>
		</a>
		<CardTime />
		<a href="https://behance.net/whallin" target="_blank" rel="nofollow noopener" class="card portfolio-card">
			<h2>{t("card.portfolio-heading")}</h2>
			<p>{t("card.portfolio-text")}</p>
			<p class="a-fake">behance.net/whallin -></p>
		</a>
		<a href={localizePath("/sysadmin")} rel="prefetch" class="card sysadmin-card">
			<h2>{t("card.sysadmin-heading")}</h2>
			<p>{t("card.sysadmin-text")}</p>
			<p class="a-fake">{t("cta.explore")}</p>
		</a>
		<a href={localizePath("/experience")} rel="prefetch" class="card experience-card">
			<h2>{t("card.experience-heading")}</h2>
			<p>{t("card.experience-text")}</p>
			<p class="a-fake">{t("cta.explore")}</p>
		</a>
		<a href={localizePath("/blog")} rel="prefetch" class="card blog-card">
			<h2>{t("card.blog-heading")}</h2>
			<p>{t("card.blog-text")}</p>
			<p class="a-fake">{t("cta.browse")}</p>
		</a>
		<a href={localizePath("/toolbox")} rel="prefetch" class="card toolbox-card">
			<h2>{t("card.toolbox-heading")}</h2>
			<p>{t("card.toolbox-text")}</p>
			<p class="a-fake">{t("cta.explore")}</p>
		</a>
		<CardContact />
		<NowPlaying />
	</div>
</LandingLayout>