---
import "../styles/cards.css";
import { t } from "i18next";
import { localizePath } from "astro-i18next";
---

<a href={localizePath("/contact")} rel="prefetch" class="card contact-card">
    <h2>{t("card.contact-heading")}</h2>
    <p>{t("card.contact-text")}</p>
    <p class="a-fake">{t("cta.get-in-touch")}</p>
</a>